<!doctype html>
<html lang="en">
{% extends "hotels/base.html" %}
{% load staticfiles %}
<head>
	{% block title %}
	<title>Accommodation Detail</title>
    {% endblock %}
</head>
<body>
	<div class="md-hotel">
		<div id="mp-pusher" class="mp-pusher">
			<!-- Header -->


			<!-- Menu Responsive -->

	        <!-- Menu Responsive End -->

			<!-- Body -->
			<div class="md-body-wrapper">
				<section class="container">
					<div class="md-body md-accommodation">
						<section class="row md-accommodation-available clearfix">
							{% block slider %}
							<div class="grid_3 align-center">
								<header class="box-heading heading-large">
									A
									<div class="decription-override">
										<h1 class="h1">Accommodation</h1>
										<p>rates & reservations</p>
									</div>
								</header>
							</div>
							{% endblock %}

						</section>
 						{% block body %}
						<section class="md-accommodation-content">
								{% if hotel.room_set.all %}
									{% for room in hotel.room_set.all %}
										{% if forloop.counter0|divisibleby:3 %}
											<div class="row clearfix">
												<br/>
										{% endif %}
												<div class="grid_3">
													<article class="media">

														<figure>

															<img src="{% static 'hotels/img/accommodation/accommodation' %}-{{ room.id }}.jpg" alt="" >

														</figure>


														<section class="media-body">
															<h3 class="media-header h4"><a href="{% url 'hotels:room_details' hotel.id room.id %}">{{ room.room_name }}</a></h3>
															<p class="media-content">Mauris egestas, tellus sed venenatis tincidunt, odio diam iaculis augue, nec tincidunt enim odio id arcu. Ut pellentesque, quam ut sagittis adipiscing, lectus metus mollis magna... </p>
															<a class="btn btn-small btn-border btn-border-brown" href="{% url 'hotels:room_details' hotel.id room.id %}">See Detail</a>
															{% if forloop.last %}
																<br/>
															{% endif %}
														</section>
													</article>
												</div>
										{% if forloop.counter|divisibleby:3 %}
											</div>
										{% endif %}
									{% endfor %}
								{% else %}
									<p>No rooms are available.</p>
								{% endif %}




						</section>
						{% endblock %}
					</div><!-- /.md-accommodation -->
				</section><!-- /.md-wrapper  -->
			</div>

			<!-- Footer -->

		</div><!--/.mp-pusher -->
	</div>
<!-- Library Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery-1.9.1.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery-ui-1.10.3.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery.bxslider.min.js' %}"></script>

<!-- Responsive Menu Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/mlpushmenu.js' %}"></script>

<!-- Main Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/script.js' %}"></script>

<!-- Separate Javascript for each page -->	
<script type="text/javascript">
	$(function() {
		"use strict";
		$("#arrival-date, #departure-date").datepicker({
		});
	});
</script>
</body>
</html>