<!doctype html>
<html lang="en">
{% extends "hotels/base.html" %}
{% load staticfiles %}

<head>
	<title>Home</title>
</head>
<body>
	<div class="md-hotel">
		<div id="mp-pusher" class="mp-pusher">
			<!-- Header -->

			<!-- Header End -->

			<!-- Menu Responsive -->

	        <!-- Menu Responsive End -->





			<!-- Body -->
			<div class="md-body-wrapper">
				<div class="md-home">

					<section class="row md-home-body">
						<div class="container clearfix">
							<aside class="grid_3 md-sidebar">
								<section class="widget-home-info">
									<h3 class="h3 header-sidebar">why Flawles hotel?</h3>
									<div class="home-content">
										<p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor. </p>
										<p>Donec ultrices lacinia arcu ut sagittis. Etiam non ante lectus. Mauris egestas, tellus sed venenatis tincidunt, odio diam iaculis augue, nec tincidunt enim odio id arcu. Ut pellentesque, quam ut sagittis adipiscing, lectus metus mollis magna.</p>
										<ul class="list list-check">
											<li>200 Rooms</li>
											<li>4 Restuarants</li>
											<li>2 Revolving Cocktail bar</li>
											<li>Swimming pool</li>
											<li>24h Parking & Security</li>
											<li>Free airport pick up service</li>
											<li>24 hour front desk staff</li>
										</ul>
									</div>
								</section>
								<section id="quote-slider" class="widget-quote">
									<div class="box-quote">
										<p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor magna.</p>
									    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
								    </div>
								    <div class="box-quote">
										<p>Lorem ac dolor vitae accumsan. Cras interdum hendrerit lacinia. a.</p>
									    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
								    </div>
								    <div class="box-quote">
										<p>Ipsum ac dolor vitae molestie interdum. Nam sed placerat libero, non eleifend dolor magna.</p>
									    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
								    </div>

								</section>
							</aside><!-- /.md-sidebar -->

							<div class="grid_9 md-primary">
								<div class="row row-home">
									<article class="media">
										<figure class="media-image">
											<img src="{% static 'hotels/img/home/1.jpg' %}" alt="" class="media-object">
										</figure>
										<section class="media-body">
											<h3 class="media-header media-header-big">
												<a href="room-detail.html">Deluxe Room</a>
											</h3>
											<p class="media-content">Mauris egestas, tellus sed venenatis tincidunt, odio diam iaculis augue, nec tincidunt enim odio id arcu. Ut pellentesque, quam ut sagittis adipiscing, lectus metus mollis magna...<a href="room-detail.html" class="text-link link-direct">see more</a></p>
										</section>
									</article>
								</div><!-- /.row-article -->
								<div class="row row-home">
									<article class="media">
										<figure class="media-image">
											<img src="{% static 'hotels/img/home/2.jpg' %}" alt="" class="media-object">
										</figure>
										<section class="media-body">
											<h3 class="media-header media-header-big"><a href="room-detail.html">Elegant Room</a></h3>
											<p class="media-content">Nunc at nunc in elit pellentesque dignissim at viverra nisl. Nam ac molestie sapien. Quisque posuere nisi non nisi feugiat mattis. Aenean vitae nisl a risus pellentesque pellentesque vel vulputate sem... <a href="room-detail.html" class="text-link link-direct">see more</a></p>
										</section>
									</article>
								</div><!-- /.row-article -->
								<div class="row row-home">
									<article class="media">
										<figure class="media-image">
											<img src="{% static 'hotels/img/home/3.jpg' %}" alt="" class="media-object">
										</figure>
										<section class="media-body">
											<h3 class="media-header media-header-big"><a href="room-detail.html">Luxury Room</a></h3>
											<p class="media-content">Mauris egestas, tellus sed venenatis tincidunt, odio diam iaculis augue, nec tincidunt enim odio id arcu. Ut pellentesque, quam ut sagittis adipiscing, lectus metus mollis magna...<a href="room-detail.html" class="text-link link-direct">see more</a></p>
										</section>
									</article>
								</div><!-- /.row-article -->
							</div><!-- /.md-sidebar -->
						</div>
					</section><!-- /.md-home-body -->
				</div>
			</div>


			<!-- Footer -->

			<!-- Footer End -->
		</div><!-- /.mp-pusher -->
	</div>

<!-- Library Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery-1.9.1.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery-ui-1.10.3.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/jquery.bxslider.min.js' %}"></script>


<!-- Responsive Menu Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'hotels/js/mlpushmenu.js' %}"></script>

<!-- Main Javascript  -->
<script type="text/javascript" src="{% static 'hotels/js/script.js' %}"></script>

<!-- Separate Javascript for each page -->
<script type="text/javascript" src="{% static 'hotels/js/home.js' %}"></script>
<script type="text/javascript">
	$(function() {
		"use strict";
		$("#arrival-date, #departure-date").datepicker({
		});
	});

</script>




</body>
</html>