<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends "hotels/base.html" %}
{% load staticfiles %}
<head>
    {% block title %}
    {% endblock title %}
    {% block reservation_widget %}
    {% endblock reservation_widget %}
</head>
<body>
{% block rev_slider %}
{% endblock rev_slider %}
{% block page_header %}
<!-- BEGIN PAGE TITLE -->

<style>
</style>

<div id="top-content-divider">
    <div class="container">
        <div id="main-title-wrap"> Reservation Page</div>
    </div>
</div>

<!-- END PAGE TITLE -->

{% endblock page_header %}
{% block content %}
		<!-- BEGIN PAGE CONTENT -->
<div class="container reservation-page-main-wrap">

    <div id="reservation-breadcrumb-wrap" class="container">
        <div id='active'>1. Choose Date <span class="icon-angle-right"></span></div>
        <div>2. Choose Room <span class="icon-angle-right"></span></div>
        <div>3. Checkout <span class="icon-angle-right"></span></div>
        <div>4. Confirmation</div>
    </div>

    <!-- BEGIN STEP 1 RESERVATION FORM -->
    <form method="POST" id="reservation-step1-form">
        <div class="five columns step1 alpha">
            <div id="reservation-info">
                <div id="reservation-info-header"><span class="icon-shopping-cart"></span>Your Booking</div>

                <div id="reservation-info-content">
                    <div id="reservation-check-in">
                        <div>Check-in</div>
                        <input type="text" placeholder="check-in-date" id="check-in-date" name="check-in"
                               class="reservation-form-field" readonly="true">
                    </div>
                    <div id="reservation-check-out">
                        <div>Check-out</div>
                        <input type="text" placeholder="check-out-date" id="check-out-date" name="check-out"
                               class="reservation-form-field" readonly="true">
                    </div>
                    <div class="clear"></div>
                    <div id="reservation-room">
                        <div>Rooms</div>
                        <select id="room-number-selection" name="room-number">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>

                    <div id="room-guest1">
                        <div class="room-number-for-guest">Room 1</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <div>Adults</div>
                            <select name="room-adults1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <div>Children</div>
                            <select name="room-children1">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest2" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 2</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children2">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest3" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 3</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults3">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children3">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest4" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 4</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults4">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children4">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest5" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 5</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults5">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children5">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest6" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 6</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults6">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children6">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest7" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 7</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults7">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children7">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest8" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 8</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults8">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children8">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div id="room-guest9" class="room-guest-wrap">
                        <div class="room-number-for-guest">Room 9</div>
                        <div class="reservation-room-adults" name="adults-number">
                            <select name="room-adults9">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="reservation-room-children" name="children-number">
                            <select name="room-children9">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="eleven columns reservation-content page-left-sidebar">
            <div id="reservation-data-selection"></div>
            <input type="hidden" value="" name="Date" id="Date"/>
            <button type="submit" id="reservation-step1-button">Check Availability</button>
        </div>

    </form>
    <!-- END STEP 1 RESERVATION FORM -->


</div>
<!-- END PAGE CONTENT -->


{% endblock content %}
{% block info %}
{% endblock info %}
{% block location_info_event %}
{% endblock location_info_event %}
{% block footer %}
  {{ block.super }}
{% endblock footer %}
</body>
</html>