<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends "hotels/base.html" %}
{% load staticfiles %}
{% load hotels_extras %}
<head>
    {% block title %}
    {% endblock title %}
    {% block reservation_widget %}
    {% endblock reservation_widget %}
</head>
<body>
    {% block header %}
       {{ block.super }}
    {% endblock header %}

    {% block rev_slider %}
    {% endblock rev_slider %}

    {% block page_header %}
    <title>Main Detail</title>
    <style>
        #main-title-wrap, #main-title-undertext {
        text-align:center;
        }
    </style>

    <div id="top-content-divider">
        <div class="container">
            <div id="main-title-wrap"><span class="icon-calendar"></span> Two Columns Rooms List</div>
            <div id="main-title-undertext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
{% endblock page_header %}
{% block content %}
		<!-- BEGIN PAGE CONTENT -->
		<div class="container two-item-list">
            {% for room in rooms_list %}
            {% include "hotels/room-wrap.html" %}
            {% endfor %}

		</div>

		<!-- END PAGE CONTENT -->


{% endblock content %}
{% block info %}
{% endblock info %}
{% block location_info_event %}
{% endblock location_info_event %}
{% block footer %}
  {{ block.super }}
{% endblock footer %}
{% block footer_script %}
    {{ block.super }}
{% endblock footer_script %}
</body>
</html>